<main id="main" class="main">
    <section class="section profile">
      <div class="row">

        <div class="pagetitle">
          <h1 class="float-start">Attendance Sheet</h1>
                  <nav class="float-end">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item">Tables</li>
                      <li class="breadcrumb-item active">Data</li>
                    </ol>
                  </nav>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <p>Attendance Sheet</p>
                </div>
                <div class="card-body overflow-auto">
                    <div class="example-container">
                        <form novalidate="" class="ng-untouched ng-pristine ng-valid mt-3 mb-5 ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fromDate">Choose start date</label>
                                        <input type="text" class="form-control" id="fromDate" placeholder="Start Date">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="toDate">Choose end date</label>
                                        <input type="text" class="form-control" id="toDate" placeholder="End Date">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-bordered border-bottom">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th class="cell-dimension" *ngFor="let days of numberOfDays">{{days}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <span class="attnd-user"><img src="assets/images/user/user8.jpg" class="msr-2 rounded-circle"></span>
                                        <div class="mt-sm-2">
                                            <h6>Jacob Ryan</h6>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="attendance-icon" *ngFor="let att of attandence">
                                    <span *ngIf=" att.status==='Present'" class="bi bi-check-circle-fill text-success"></span>
                                    <span *ngIf=" att.status==='Abcent'" class="bi bi-x-circle-fill text-danger"></span>
                                    <span *ngIf=" nameOfDay==='Sunday'" class="bi bi-star-fill text-warning"></span>
                                </td>
                                <!-- Repeat for all 31 days -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </section>
</main>
