<main id="main" class="main">

    <!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="pagetitle">
          <h1 class="float-start">Add Employees</h1>
                  <nav class="float-end">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item">Tables</li>
                      <li class="breadcrumb-item active">Data</li>
                    </ol>
                  </nav>
        </div>
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-title mt-0 ms-3">Add Employee</h5>
            <div class="card-body">
              <form class="row g-3 ms-3">
                <div class="col-md-6">
                <label for="FirstName">FirstName<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="FirstName" id="FirstName">
                </div>
                <div class="col-md-6">
                  <label for="LastName">LastName<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="LastName" id="LastName">
                </div>
                <div class="col-md-6">
                <label for="Gender">Gender<span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="Gender" id="Gender">
                  </div>
                  <div class="col-md-6">
                  <label for="Mobile">Mobile<span class="required">*</span></label>
                    <input type="number" class="form-control" placeholder="Mobile" id="Mobile">
                  </div>
                  <div class="col-md-6">
                    <label for="Password">Password<span class="required">*</span></label>
                    <input type="password" class="form-control" placeholder="Password" id="Password">
                  </div>
                  <div class="col-md-6">
                  <label for="Confirm Password">Confirm Password<span class="required">*</span></label>
                    <input type="password" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="col-md-6">
                  <label for="Designation">Designation<span class="required">*</span></label>
                    <input type="email" class="form-control" placeholder="Designation" id="Designation">
                  </div>
                  <div class="col-md-6">
                  <label for="DepartMent">DepartMent<span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="DepartMent" id="DepartMent">
                  </div>
                <div class="col-12">
                  <label for="Address">Address<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="Address" id="Address">
                </div>
                <div class="col-md-6">
                  <label for="Email">Email<span class="required">*</span></label>
                  <input type="email" class="form-control" placeholder="Email" id="Email">
                </div>
                <div class="col-md-6">
                  <label for="Date Of Birth">Date Of Birth<span class="required">*</span></label>
                  <input type="password" class="form-control" placeholder="Date Of Birth" id="Date Of Birth">
                </div>
                <div class="col-12">
                  <label for="Education">Education<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="Education" id="Education">
                </div>
                <div class="col-12">
                  <label for="File">Upload file<span class="required">*</span></label>
                  <input type="file" class="form-control" placeholder="Education" id="File">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
