<main id="main" class="main">
    <section class="section profile">
      <div class="row">

        <div class="pagetitle">
          <h1 class="float-start">Project Details</h1>
                  <nav class="float-end">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item">Tables</li>
                      <li class="breadcrumb-item active">Data</li>
                    </ol>
                  </nav>
        </div>

        <div class="col-xl-9">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <div class="mb-4">
                <p class="text-primary cursor-pointer float-end">Edit project</p>
                <h3 class="project-name">Wordpress Website</h3>
              </div>
              <dl class="row">
                <dt class="col-sm-2">Status:</dt>
                <dd class="col-sm-10">
                  <span class="badge" style="background-color: rgb(42, 153, 28);">Active</span>
                </dd>
              </dl>

              <div class="row">
                <div class="col-lg-5">
                  <dl class="row">
                    <dt class="col-sm-4">Created by:</dt>
                    <dd class="col-sm-8">Jayesh Patel</dd>
                    
                    <dt class="col-sm-4">Messages:</dt>
                    <dd class="col-sm-8">277</dd>
                    
                    <dt class="col-sm-4">Commits:</dt>
                    <dd class="col-sm-8">175</dd>
                    
                    <dt class="col-sm-4">Version:</dt>
                    <dd class="col-sm-8">v2.5.2</dd>
                    
                    <dt class="col-sm-4">Project Status:</dt>
                    <dd class="col-sm-8">
                      <div class="progress mt-3" style="height: 7px;">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>                    
                      <small><strong>60%</strong> Project completed.</small>
                    </dd>
                  </dl>
                </div>
                <div class="col-lg-7">
                  <dl class="row">
                    <dt class="col-sm-4">Last Updated:</dt>
                    <dd class="col-sm-8">22-08-2021 12:15:57</dd>
                    
                    <dt class="col-sm-4">Created:</dt>
                    <dd class="col-sm-8">17-05-2020</dd>
                    
                    <dt class="col-sm-4">Deadline:</dt>
                    <dd class="col-sm-8">22-09-2021</dd>
                    
                    <dt class="col-sm-4">Team:</dt>
                    <dd class="col-sm-8 project-people">
                      <ul class="list-unstyled order-list">
                        <li class="avatar avatar-sm"><img src="assets/images/user/user1.jpg" alt="user" class="rounded-circle"></li>
                        <li class="avatar avatar-sm"><img src="assets/images/user/user2.jpg" alt="user" class="rounded-circle"></li>
                        <li class="avatar avatar-sm"><img src="assets/images/user/user3.jpg" alt="user" class="rounded-circle"></li>
                        <li class="avatar avatar-sm"><span class="badge">+4</span></li>
                      </ul>
                    </dd>
                  </dl>
                </div>
              </div>

              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#about">Message</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#skill">Last Activity</button>
                </li>
              </ul>
              <div class="tab-content border pt-2">
                
                <div class="tab-pane fade show active profile-overview ms-3 me-3" id="about">
                  <div class="feed-activity-list">
                    <div class="feed-element border-bottom">
                      <div class="pull-left">
                        <img alt="image" src="assets/images/user/user2.jpg" class="rounded-circle">
                      </div>
                      <div class="media-body">
                        <small class="pull-right">2h ago</small>
                        <strong>Airi Satou</strong> posted message on <strong>Ashton Cox</strong> site. <br>
                        <small class="text-muted">Today 11:10 pm - 15/04/2021</small>
                        <div class="card ms-3 bg-info">
                          <div class="card-body" style="font-size: 10px;"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </div>
                        </div>
                      </div>
                    </div>
                    <div class="feed-element border-bottom">
                      <a href="#" class="pull-left">
                        <img alt="image" src="assets/images/user/user3.jpg" class="rounded-circle">
                      </a>
                      <div class="media-body">
                        <small class="pull-right">3h ago</small>
                        <strong>Cara Stevens</strong> add 1 photo on <strong>Ashton Cox</strong>. <br>
                        <small class="text-muted">2 days ago at 9:47am</small>
                      </div>
                    </div>
                    <div class="feed-element border-bottom">
                      <a href="#" class="pull-left">
                        <img alt="image" src="assets/images/user/user8.jpg" class="rounded-circle">
                      </a>
                      <div class="media-body">
                        <small class="pull-right text-navy">5h ago</small>
                        <strong>Angelica Ramos</strong> started following <strong>Ashton Cox</strong>. <br>
                        <small class="text-muted">Yesterday 2:21 pm - 18/04/2021</small>
                        <div class="actions">
                          <a class="btn btn-sm btn-light"><i class="fas fa-thumbs-up text-primary"></i> Like</a>
                          <a class="btn btn-sm btn-light"><i class="fas fa-heart text-danger"></i> Love</a>
                        </div>
                      </div>
                    </div>
                    <div class="feed-element border-bottom">
                      <a href="#" class="pull-left">
                        <img alt="image" src="assets/images/user/user5.jpg" class="rounded-circle">
                      </a>
                      <div class="media-body">
                        <small class="pull-right">2h ago</small>
                        <strong>Jens Brincker</strong> posted message on <strong>Angelica Ramos</strong> site. <br>
                        <small class="text-muted">Yesterday 10:20 pm - 12/06/2021</small>
                        <div class="card ms-3 bg-info">
                          <div class="card-body" style="font-size: 10px;"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </div>
                        </div>
                      </div>
                    </div>
                    <div class="feed-element border-bottom">
                      <a href="#" class="pull-left">
                        <img alt="image" src="assets/images/user/user9.jpg" class="rounded-circle">
                      </a>
                      <div class="media-body">
                        <small class="pull-right">23h ago</small>
                        <strong>Sarah Smith</strong> love <strong>Mark Hay</strong>. <br>
                        <small class="text-muted">2 days ago at 12:30 am - 11/06/2021</small>
                      </div>
                    </div>
                    <div class="feed-element border-bottom">
                      <a href="#" class="pull-left">
                        <img alt="image" src="assets/images/user/user1.jpg" class="rounded-circle">
                      </a>
                      <div class="media-body">
                        <small class="pull-right">46h ago</small>
                        <strong>Jens Brincker</strong> started following <strong>Ashton Cox</strong>. <br>
                        <small class="text-muted">3 days ago at 7:58 pm - 10/02/2021</small>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3 ms-1 me-1" id="skill">

                  <!-- Profile Edit Form -->
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Status</th>
                          <th>Title</th>
                          <th>Start Time</th>
                          <th>End Time</th>
                          <th>Comments</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><span class="badge bg-success">Completed</span></td>
                          <td>Create project in webapp</td>
                          <td>15-06-2021 11:25:07</td>
                          <td>19-06-2021 10:38:15</td>
                          <td><p class="small">Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.</p></td>
                        </tr>
                        <!-- Add more rows here if needed -->
                      </tbody>
                    </table>
                  </div>
                  

                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>
        </div>

        <div class="col-xl-3">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <div class="wrapper">
                    <div class="project-card-header">Project description</div>
                    <p class="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p class="mt-3">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  </div>
  
              </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="wrapper">
                        <div class="project-card-header">Client Details</div>
                        <div class="project-info-box">
                            <p><b>Client:</b> xyz pvt.ltd</p>
                            <p><b>Date:</b> 25.07.2021</p>
                            <p><b>Contact Person:</b> John Doe</p>
                            <p><b>Country:</b> USA</p>
                            <p class="mb-0"><b>Budget:</b> $500</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body pt-3">
                  <!-- Bordered Tabs -->
                  <div class="wrapper">
                      <div class="project-card-header">Project tags</div>
                      <div class="panel-body mb-4">
                        <span class="badge bg-success m-1">Angular</span>
                        <span class="badge bg-warning m-1">Typescript</span>
                        <span class="badge bg-info m-1">SCSS</span>
                        <span class="badge bg-success m-1">Git</span>
                        <span class="badge bg-danger m-1">Admin</span>
                        <span class="badge bg-warning m-1">Project</span>
                        <span class="badge bg-success m-1">Photoshop</span>
                        <span class="badge bg-primary m-1">Material</span>
                      </div>
                      <div class="project-card-header">Project files</div>
                      <div class="d-flex mb-2">
                        <div class="project-doc-icon text-center"><i class="far fa-file-pdf text-danger"></i></div>
                        <div class="content ms-3">
                          <p class="mb-1">Project_document.pdf</p>
                          <span>Size: 4.3Mb</span>
                        </div>
                      </div>
                      <div class="d-flex mb-2">
                        <div class="project-doc-icon text-center"><i class="far fa-file-word text-primary"></i></div>
                        <div class="content ms-3">
                          <p class="mb-1">error_log_478558.docx</p>
                          <span>Size: 2.7Mb</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <div class="project-doc-icon text-center"><i class="far fa-file-image text-success"></i></div>
                        <div class="content ms-3">
                          <p class="mb-1">screenshots.jpeg</p>
                          <span>Size: 2.0Mb</span>
                        </div>
                      </div>
                    </div>
    
                </div>
              </div>
          </div>
            

      </div>
    </section>

  </main>