<main id="main" class="main">
    <!-- End Page Title -->
    
        <section class="section">
            <div class="row d-flex">
              <div class="pagetitle">
                <h1 class="float-start">Chat</h1>
                        <nav class="float-end">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item">Tables</li>
                            <li class="breadcrumb-item active">Data</li>
                          </ol>
                        </nav>
              </div>
                  <div class="col-xl-3 col-sm-12 col-md-3 col-lg-3">
                    <div class="card">
                      <div class="card-body">
                        <div id="plist" class="people-list">
                          <div class="search-bar">
                            <form class="search-form d-flex align-items-center" method="POST" action="#">
                              <input type="text" name="query" placeholder="Search" class="form-control" title="Enter search keyword" style="height: 35px;">
                            </form>
                        </div>
                          <div class="tab-content">
                            <div class="chat-list list-unstyled mt-3 overflow-auto" style="max-height: 400px;">
                              <ul class="list-group border-0">
                                <li class="list-group-item clearfix border-0">
                                  <img src="assets/images/user/user1.jpg" alt="avatar" class="rounded-circle float-left">
                                  <div class="about">
                                    <div class="name">William Smith</div>
                                    <div class="status"><i class="bi bi-circle-fill text-danger"></i> left 7 mins ago</div>
                                  </div>
                                </li>
                                <li class="list-group-item clearfix border-0">
                                  <img src="assets/images/user/user2.jpg" alt="avatar" class="rounded-circle float-left">
                                  <div class="about">
                                    <div class="name">Martha Williams</div>
                                    <div class="status"><i class="bi bi-circle-fill text-success"></i> online</div>
                                  </div>
                                </li>
                                <li class="list-group-item clearfix border-0">
                                    <img src="assets/images/user/user2.jpg" alt="avatar" class="rounded-circle float-left">
                                    <div class="about">
                                      <div class="name">Martha Williams</div>
                                      <div class="status"><i class="bi bi-circle-fill text-success"></i> online</div>
                                    </div>
                                  </li>
                                  <li class="list-group-item clearfix border-0">
                                    <img src="assets/images/user/user2.jpg" alt="avatar" class="rounded-circle float-left">
                                    <div class="about">
                                      <div class="name">Martha Williams</div>
                                      <div class="status"><i class="bi bi-circle-fill text-success"></i> online</div>
                                    </div>
                                  </li>
                                  <li class="list-group-item clearfix border-0">
                                    <img src="assets/images/user/user2.jpg" alt="avatar" class="rounded-circle float-left">
                                    <div class="about">
                                      <div class="name">Martha Williams</div>
                                      <div class="status"><i class="bi bi-circle-fill text-success"></i> online</div>
                                    </div>
                                  </li>
                                  <li class="list-group-item clearfix border-0">
                                    <img src="assets/images/user/user2.jpg" alt="avatar" class="rounded-circle float-left">
                                    <div class="about">
                                      <div class="name">Martha Williams</div>
                                      <div class="status"><i class="bi bi-circle-fill text-success"></i> online</div>
                                    </div>
                                  </li>
                                  <li class="list-group-item clearfix border-0">
                                    <img src="assets/images/user/user2.jpg" alt="avatar" class="rounded-circle float-left">
                                    <div class="about">
                                      <div class="name">Martha Williams</div>
                                      <div class="status"><i class="bi bi-circle-fill text-success"></i> online</div>
                                    </div>
                                  </li>
                                <!-- Add more list items as needed -->
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-xl-9 col-sm-12 col-md-9 col-lg-9">
                    <div class="card">
                      <div class="card-body">
                        <div class="chat">
                          <div class="chat-header clearfix">
                            <img src="assets/images/user/user2.jpg" alt="avatar">
                            <div class="chat-about">
                              <div class="chat-with">Maria Smith</div>
                              <div class="chat-num-messages">2 new messages</div>
                            </div>
                          </div>
                          <div class="chat-history overflow-auto" style="max-height: 400px;">
                            <ul class="list-unstyled">
                              <li class="clearfix">
                                <div class="message-data text-end">
                                  <span class="message-data-time">10:10 AM, Today</span>
                                  <span class="message-data-name">Maria</span>
                                </div>
                                <div class="message other-message float-end">
                                  Hi Robert, how are you? How is your work going on?
                                </div>
                              </li>
                              <li>
                                <div class="message-data">
                                  <span class="message-data-name">Robert</span>
                                  <span class="message-data-time">10:12 AM, Today</span>
                                </div>
                                <div class="message my-message">
                                  <p>Its good. We completed almost all task assign by our manager.</p>
                                </div>
                              </li>
                              <li>
                                <div class="message-data">
                                  <span class="message-data-name">Robert</span>
                                  <span class="message-data-time">10:12 AM, Today</span>
                                </div>
                                <div class="message my-message">
                                  <p>How are you feel today? What's about vacation?</p>
                                </div>
                              </li>
                              <li class="clearfix">
                                <div class="message-data text-end">
                                  <span class="message-data-time">10:10 AM, Today</span>
                                  <span class="message-data-name">Maria</span>
                                </div>
                                <div class="message other-message float-end">
                                  I am good, We think for next weekend.
                                </div>
                              </li>
                            </ul>
                          </div>
                          <div class="chat-message clearfix">
                            <div class="form-group mb-4 mt-4">
                              <div class="form-line">
                                <input type="text" placeholder="Search..." class="form-control" autocomplete="off" style="height: 40px;"  >
                              </div>
                            </div>
                            <div class="chat-upload mt-0 mb-1">
                              <button class="btn btn-primary ms-2"><i class="bi bi-paperclip"></i></button>
                              <button class="btn btn-primary"><i class="bi bi-emoji-smile"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  

            </div>
        </section>
        </main>