<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="list-group-item sidebar-user-panel">
      <div class="ms-5 mb-3 mt-3">
        <div>
          <img *ngIf="image" [src]="'data:image/png;base64,'+image" style="height: 80px;width: 80px; border-radius: 10px;">
        </div>
        <div class="flex-grow" style="margin-left: 20px; margin-top: 10px;">
          <div class="sidebar-userpic-name fw-bold">{{name}}</div>
        </div>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" routerLink="/">
        {{role}}
      </a>
    </li>

    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" href="#" routerLink="/deshboard/deshboard">
        <i class="bi bi-display"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item" *ngIf="role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed" href="#" routerLink="/deshboard/empdesh">
        <i class="bi bi-display"></i>
        Dashboard
      </a>
    </li>
    
    <li class="nav-item" *ngIf="role === 'CLIENT'">
      <a class="nav-link collapsed" href="#" routerLink="/deshboard/clientdesh">
        <i class="bi bi-display"></i>
        Dashboard
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-kanban"></i><span>Project</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav" style="list-style: none;">
        <li>
          <a href="components-alerts.html" routerLink="allproject">
             <span>All Project</span>
          </a>
        </li>
        <li>
          <a href="components-accordion.html" routerLink="addproject">
             <span>Add Project</span>
          </a>
        </li>
        <li>
          <a href="components-badges.html" routerLink="projectEstimate">
             <span>Estimates</span>
          </a>
        </li>
        <li>
          <a href="components-breadcrumbs.html" routerLink="projectdetails">
             <span>Project Details</span>
          </a>
        </li>

      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item" style="list-style: none;" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#employee-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-people-fill"></i><span>Employee</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="employee-nav" class="nav-content collapse list-unstyled" data-bs-parent="#sidebar-nav">
        <li>
          <a href="components-alerts.html" routerLink="allemployee">
             <span>All Employee</span>
          </a>
        </li>
        <li>
          <a href="components-accordion.html" routerLink="addemployee">
             <span>Add Employee</span>
          </a>
        </li>
        <li>
          <a href="components-badges.html" routerLink="editemployee">
             <span>Edit Employee</span>
          </a>
        </li>
        <li>
          <a href="components-breadcrumbs.html" routerLink="employeeProfile">
             <span>Employee Profile</span>
          </a>
        </li>

      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-calendar-check"></i><span>Leave</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="forms-elements.html" routerLink="allLeaveRequest">
             <span>ALL Leave Resquest</span>
          </a>
        </li>
        <li>
          <a href="forms-layouts.html" routerLink="leaveBalence">
             <span>Leave Balence</span>
          </a>
        </li>
        <li>
          <a href="forms-editors.html" routerLink="leaveType">
             <span>Leave Type</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-calendar-event"></i><span>Holiday</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="tables-general.html" routerLink="allholiday">
             <span>All Holiday</span>
          </a>
        </li>
        <li>
          <a href="tables-data.html" routerLink="addholidya">
             <span>Add Holidya</span>
          </a>
        </li>
        <li>
          <a href="tables-data.html" routerLink="editholiday">
             <span>Edit Holidya</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#charts-att" data-bs-toggle="collapse" href="#">
        <i class="bi bi-clock"></i><span>Attendance</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-att" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="charts-chartjs.html" routerLink="todayAttendance">
             <span>Today Attendance</span>
          </a>
        </li>
        <li>
          <a href="charts-apexcharts.html" routerLink="employeeattendance">
             <span>Employee Attendance</span>
          </a>
        </li>
        <li>
          <a href="charts-echarts.html" routerLink="attendanceSheet">
             <span>Attendance Sheet</span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-item"*ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-person-check"></i><span>Client</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html" routerLink="allclient">
             <span>All Client</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html" routerLink="addclient">
             <span>Add Client</span>
          </a>
        </li>
        <li>
          <a href="icons-boxicons.html" routerLink="editclient">
             <span>Edit Client</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->


    <li class="nav-item"*ngIf="role === 'CLIENT'">
      <a class="nav-link collapsed" data-bs-target="#icons-support" data-bs-toggle="collapse" href="#">
        <i class="bi bi-list"></i><span>Support</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-support" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html" routerLink="ticketsupport">
             <span>Tickets</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html" routerLink="ticketdetails">
             <span>Tickets Details</span>
          </a>
        </li>
      </ul>
    </li><!-- End Cleint Ticket support -->

    <li class="nav-item"*ngIf="role === 'CLIENT'">
      <a class="nav-link collapsed" data-bs-target="#icons-Project" data-bs-toggle="collapse" href="#">
        <i class="bi bi-code"></i><span>Projects</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-Project" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html" routerLink="myproject">
             <span>Project</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html" routerLink="projectdetails">
             <span>Project Details</span>
          </a>
        </li>
      </ul>
    </li><!-- End Cleint Project support -->

    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#account-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-briefcase"></i><span>Account</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="account-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html" routerLink="allpayment">
             <span>All Payment</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html" routerLink="addpayment">
             <span>Add Payment</span>
          </a>
        </li>
        <li>
          <a href="icons-boxicons.html" routerLink="invoice">
             <span>Invoice</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->

    <li class="nav-item" *ngIf="role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed" href="index.html">
        <i class="bi bi-bar-chart"></i>
        <span><a href="" routerLink="allLeaveRequest">MyLeave</a></span>
      </a>
    </li>

    <li class="nav-item"*ngIf="role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed" href="index.html">
        <i class="bi bi-clock"></i>
        <span><a href="" routerLink="todayAttendance">Attendance</a></span>
      </a>
    </li>

    <li class="nav-item" *ngIf="role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed" href="index.html">
        <i class="bi bi-kanban"></i>
        <span><a href="" routerLink="myproject">MyProject</a></span>
      </a>
    </li>
    

    <li class="nav-item" *ngIf="role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed">
        <i class="bi bi-question-circle"></i>
        <span><a routerLink="task">MyTask</a></span>
      </a>
    </li>

    <li class="nav-item" *ngIf="role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed">
        <i class="bi bi-people"></i>
        <span><a routerLink="myteam">MyTeam</a></span>
      </a>
    </li>

    <li class="nav-item" *ngIf="role === 'CLIENT'">
      <a class="nav-link collapsed">
        <i class="bi bi-people"></i>
        <span><a routerLink="billing">Billing</a></span>
      </a>
    </li>

    <li class="nav-item" *ngIf="role === 'CLIENT'">
      <a class="nav-link collapsed">
        <i class="bi bi-chat-left"></i>
        <span><a href="" routerLink="chat">Chat</a></span>
      </a>
    </li>

    <li class="nav-item" *ngIf="role === 'CLIENT'">
      <a class="nav-link collapsed">
        <i class="bi bi-gear"></i>
        <span><a href="" routerLink="chat">Setting</a></span>
      </a>
    </li>

    <!-- <li class="nav-item" *ngIf="role === 'CLIENT'">
      <a class="nav-link collapsed" href="index.html">
        <i class="bi bi-power"></i>
        <span><a href="" routerLink="chat"></a>Logout</span>
      </a>
    </li> -->

    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" href="#" routerLink="leaders">
        <i class="bi bi-shield-check"></i>
        <span>Leaders</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" href="#" routerLink="team">
        <i class="bi bi-shield-check"></i>
        <span>Team</span>
      </a>
    </li>

    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#payrole-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-calculator"></i><span>Payroll</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="payrole-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html" routerLink="employeeSalary">
             <span>Employee Salary</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html" routerLink="payslip">
             <span>PaySlip</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->


    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#jobs-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-file-earmark"></i><span>Jobs</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="jobs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="components-alerts.html" routerLink="joblist">
             <span>Job List</span>
          </a>
        </li>
        <li>
          <a href="components-badges.html" routerLink="candidate">
             <span>Candidate</span>
          </a>
        </li>
        <li>
          <a href="components-breadcrumbs.html" routerLink="shortlisted">
             <span>ShortListed Cnadidate</span>
          </a>
        </li>

      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item" *ngIf="role === 'ADMIN'">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Report</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="components-alerts.html" routerLink="leaveReport">
             <span>Leave Report</span>
          </a>
        </li>
        <li>
          <a href="components-accordion.html" routerLink="expenseReport">
             <span>Expence Report</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-heading" *ngIf="role === 'ADMIN' || role === 'EMPLOYEE' || role === 'LEADER'">Apps</li>

    <li class="nav-item" *ngIf="role === 'ADMIN' || role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed" href="users-profile.html" routerLink="calender">
        <i class="bi bi-calendar"></i>
        <span>Calender</span>
      </a>
    </li><!-- End Profile Page Nav -->

    <li class="nav-item" *ngIf="role === 'ADMIN' || role === 'EMPLOYEE'">
      <a class="nav-link collapsed" href="pages-faq.html" routerLink="task">
        <i class="bi bi-question-circle"></i>
        <span>Task</span>
      </a>
    </li><!-- End F.A.Q Page Nav -->

    <li class="nav-item" *ngIf="role === 'ADMIN' || role === 'EMPLOYEE' || role === 'LEADER' ">
      <a class="nav-link collapsed" href="pages-contact.html" routerLink="contect">
        <i class="bi bi-phone"></i>
        <span>Contacts</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item" *ngIf="role === 'ADMIN' || role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed" href="pages-register.html" routerLink="emailcompose">
        <i class="bi bi-mailbox"></i>
        <span>Email</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item" *ngIf="role === 'ADMIN' || role === 'EMPLOYEE' || role === 'LEADER'">
      <a class="nav-link collapsed" data-bs-target="#more-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-grid-3x3"></i><span>More Apps</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="more-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="components-alerts.html" routerLink="chat">
             <span>Chat</span>
          </a>
        </li>
        <li>
          <a href="components-accordion.html" routerLink="contectgrid">
             <span>Contact Grid</span>
          </a>
        </li>
        <li *ngIf="role === 'CLIENT'">
          <a href="components-accordion.html" routerLink="ticketsupport">
             <span>Support</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item" *ngIf="role === 'CLIENT' || role === 'EMPLOYEE' || role === 'ADMIN' || role === 'LEADER'">
      <a class="nav-link collapsed" href="index.html">
        <i class="bi bi-power"></i>
        <span><a href="" routerLink="chat"></a>Logout</span>
      </a>
    </li>
    <!-- End Components Nav -->
  </ul>

</aside><!-- End Sidebar-->
