<main id="main" class="main">
    <section class="section">
<div class="row">
<div class="pagetitle">
<h1 class="float-start">Dashboard</h1>
        <nav class="float-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
        </nav>
</div>
<div class="col-lx-12">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="card text-white" style="background-color: #3b82bc; height: 160px;">
                  <div class="card-body mt-2">
                    <div class="card-icon-only shadow-primary float-start">
                      <img src="assets\img\img1.png" alt="xyz">
                  </div>
                      <h4 class="ms-2">
                        Running Projects</h4>
                      <h2 class="card-text text-end me-3"><span>70</span></h2>
                      <p class="card-text"><span><i class="bi bi-graph-up-arrow me-2"></i></span>18% Higher Than Last Month</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card text-white" style="background-color: #78ce60; height: 160px;">
              <div class="card-body mt-2">
                <div class="card-icon-only shadow-primary float-start">
                  <img src="assets\img\img2.png" alt="xyz">
              </div>
                  <h4 class="ms-2">Active Tickets</h4>
                  <h2 class="card-text text-end me-3"><span>650</span></h2>
                  <p class="card-text"><span><i class="bi bi-graph-up-arrow me-2"></i></span>18% Higher Than Last Month</p>
              </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-sm-6">
          <div class="card text-white" style="background-color: #ded478; height: 160px;">
            <div class="card-body mt-2">
              <div class="card-icon-only shadow-primary float-start">
                <img src="assets\img\img3.png" alt="xyz">
            </div>
                <h4 class="ms-2">Assigned Employee</h4>
                <h2 class="card-text text-end me-3"><span>885</span></h2>
                <p class="card-text"><span><i class="bi bi-graph-up-arrow me-2"></i></span>18% Higher Than Last Month</p>
            </div>
          </div>
      </div> -->
      <div class="col-lg-3 col-sm-6">
        <div class="card text-white" style="background-color: #ded478; height: 160px;">
          <div class="card-body mt-2">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets\img\img4.png" alt="xyz">
          </div>
              <h4 class="ms-2">Assign Employee</h4>
              <h2 class="card-text text-end me-3"><span>$9456</span></h2>
              <p class="card-text"><span><i class="bi bi-graph-up-arrow me-2"></i></span>18% Higher Than Last Month</p>
          </div>
        </div>
    </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card text-white" style="background-color: #e97a85; height: 160px;">
          <div class="card-body mt-2">
            <div class="card-icon-only shadow-primary float-start">
              <img src="assets\img\img4.png" alt="xyz">
          </div>
              <h4 class="ms-2">Total Payments</h4>
              <h2 class="card-text text-end me-3"><span>$9456</span></h2>
              <p class="card-text"><span><i class="bi bi-graph-up-arrow me-2"></i></span>18% Higher Than Last Month</p>
          </div>
        </div>
    </div>
          </div>

          <div class="row d-flex">
            <div class="col-xl-4">
              <div class="card">
                <div class="card-body">
                  <!-- Line Chart -->
                  
                  <div id="donutChart"></div>
                  <!-- End Line CHart -->
    
                </div>
              </div>
            </div>
  
            <div class="col-xl-4">
              <div class="card">
                <div class="card-body">
                  <!-- <h5 class="card-title">Line Chart</h5> -->
    
                  <!-- Line Chart -->
                  
                  <div id="donutChart1"></div>
                  <!-- End Line CHart -->
    
                </div>
              </div>
            </div>
  
            <div class="col-xl-4">
              <div class="card" style="height: 400px;">
                <div class="card-body">
                  <h5 class="card-title">Project Hours details</h5>
    
                  <div class="d-flex justify-content-between mt-2 text-dark mb-2">
                    <div>
                        <span class="fw-bold">3487</span> Hours
                    </div>
                    <div>Expected: 10000</div>
                </div>
                <div class="progress mb-2">
                    <div class="progress-bar bg-danger" style="width: 33%;"></div>
                    <div class="progress-bar bg-primary" style="width: 25%;"></div>
                    <div class="progress-bar bg-warning" style="width: 12%;"></div>
                    <div class="progress-bar bg-info" style="width: 10%;"></div>
                    <div class="progress-bar bg-success" style="width: 7%;"></div>
                    <div class="progress-bar bg-info" style="width: 13%;"></div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="search-traffic ms-4 me-4 mb-2">
                    <div class="d-flex justify-content-between mb-1 mt-2">
                        <div class="fw-bold">Project Name</div>
                        <div class="fw-bold">Completed</div>
                    </div>
                    <div class="d-flex justify-content-between traffic-source">
                        <div>
                            <span><i class="bi bi-circle-fill me-2 text-danger"></i></span>Angular website
                        </div>
                        <div>33%</div>
                    </div>
                    <div class="d-flex justify-content-between traffic-source">
                        <div>
                            <span><i class="bi bi-circle-fill me-2 text-danger"></i></span>Shopping App
                        </div>
                        <div>25%</div>
                    </div>
                    <div class="d-flex justify-content-between traffic-source">
                        <div>
                            <span><i class="bi bi-circle-fill me-2 text-danger"></i></span>ERP system
                        </div>
                        <div>12%</div>
                    </div>
                    <div class="d-flex justify-content-between traffic-source">
                        <div>
                            <span><i class="bi bi-circle-fill me-2 text-danger"></i></span>React admin panel
                        </div>
                        <div>10%</div>
                    </div>
                    <div class="d-flex justify-content-between traffic-source">
                        <div>
                            <span><i class="bi bi-circle-fill me-2 text-danger"></i></span>Api Integration
                        </div>
                        <div>7%</div>
                    </div>
                    <div class="d-flex justify-content-between traffic-source">
                        <div>
                            <span><i class="bi bi-circle-fill me-2 text-danger"></i></span>Email Marketing
                        </div>
                        <div>13%</div>
                    </div>
                </div>
    
                </div>
              </div>
            </div>

          </div>

          <div class="row d-flex">
            <div class="col-xl-7">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Invoices</h5>
                <div class="tableBody ms-2">
                    <div class="responsive_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Invoice No</th>
                                    <th>Generated By</th>
                                    <th>Due Date</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#/admin/accounts/invoice">#IN7865</a></td>
                                    <td><img src="assets/images/user-placeholder.jpg" alt="" class="user_img">John Doe</td>
                                    <td>12/05/2016</td>
                                    <td><span class="badge bg-success">Paid</span></td>
                                    <td>$500</td>
                                </tr>
                                <tr>
                                  <td><a href="#/admin/accounts/invoice">#IN7865</a></td>
                                  <td><img src="assets/images/user-placeholder.jpg" alt="" class="user_img">John Doe</td>
                                  <td>12/05/2016</td>
                                  <td><span class="badge bg-success">Paid</span></td>
                                  <td>$500</td>
                              </tr>
                              <tr>
                                <td><a href="#/admin/accounts/invoice">#IN7865</a></td>
                                <td><img src="assets/images/user-placeholder.jpg" alt="" class="user_img">John Doe</td>
                                <td>12/05/2016</td>
                                <td><span class="badge bg-success">Paid</span></td>
                                <td>$500</td>
                            </tr>
                                <!-- Other rows follow the same structure -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            </div>
  
            <div class="col-xl-5">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Customer Review</h5>
                <div class="card-body">
                    <div class="review-block">
                        <div class="row">
                            <div class="col-auto review-img">
                                <img src="assets/images/user-placeholder.jpg" alt="xyz">
                            </div>
                            <div class="col">
                                <h6 class="m-0">Alis Smith <span class="text-muted font-12"> a week ago</span></h6>
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i><i class="bi bi-star"></i>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel rutrum ex, at ornare mi. In quis scelerisque dui, eget rhoncus orci. Fusce et sodales ipsum.</p>
                                <a href="#!" class="me-2"><i class="bi bi-hand-thumbs-up-fill"></i></a>
                                <a href="#!"><i class="bi bi-hand-thumbs-down-fill text-danger"></i></a>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-auto review-img">
                                <img src="assets/images/user-placeholder.jpg" alt="xyz">
                            </div>
                            <div class="col">
                                <h6 class="m-0">John Dio <span class="text-muted font-12"> a week ago</span></h6>
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i><i class="bi bi-star"></i><i class="bi bi-star"></i><i class="bi bi-star"></i>
                                <p class="m-0">Nam quis ligula est. Nunc sed risus non turpis tristique tempor. Ut sollicitudin faucibus magna nec gravida. Suspendisse ullamcorper justo vel porta imperdiet.</p>
                                <a href="#!" class="me-2"><i class="bi bi-hand-thumbs-up-fill"></i></a>
                                <a href="#!"><i class="bi bi-hand-thumbs-down-fill text-danger"></i></a>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <a href="#!" class="text-primary">View all Customer Reviews</a>
                        </div>
                    </div>
                </div>
    
                </div>
              </div>
            </div>
  
          </div>

            <!-- Table with stripped rows -->
            <!-- End Table with stripped rows -->

      </div>
</div>
</section>
</main>