<main id="main" class="main">
  <section class="section">
<div class="row">
  <div class="pagetitle">
    <h1 class="float-start">Employee Contects</h1>
            <nav class="float-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
              </ol>
            </nav>
  </div>
<div class="col-lx-12">
      <div class="card">
        <h4 class="fw-bold ms-3 mt-3">Contects</h4>
        <div class="card-body">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="card border-apply ms-4 mt-4">
              <div class="m-b-20">
                <div class="contact-grid">
                  <div class="profile-header bg-purple-dark bg-primary">
                    <div class="user-name text-center text-light"><h4 style="padding-top: 10px;">Pooja Patel</h4></div>
                    <div class="name-center text-center text-light"> <small class="mb-5">General Manager</small></div>
                    <img src="assets\img\messages-1.jpg" alt=""class="rounded-circle" style="margin-left: 120px;position: relative; top: 30px;">
                  </div>
                  <p class="text-center mt-5">A-103, shyam gokul flats, Mahatma Road <br>Mumbai </p>
                  <div class="text-center">
                    <span class="phone"><i class="bi bi-telephone-fill"><span class="ms-2">264-625-2583</span></i></span>
                  </div>
                  <div class="profile-userbuttons d-flex justify-content-center">
                    <button class="btn btn-primary mb-3 mt-3">Read More</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="card border-apply ms-4 mt-4">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-purple-dark bg-primary">
                  <div class="user-name text-center text-light"><h4 style="padding-top: 10px;">Pooja Patel</h4></div>
                  <div class="name-center text-center text-light"> <small class="mb-5">General Manager</small></div>
                  <img src="assets\img\messages-1.jpg" alt=""class="rounded-circle" style="margin-left: 120px;position: relative; top: 30px;">
                </div>
                <p class="text-center mt-5">A-103, shyam gokul flats, Mahatma Road <br>Mumbai </p>
                <div class="text-center">
                  <span class="phone"><i class="bi bi-telephone-fill"><span class="ms-2">264-625-2583</span></i></span>
                </div>
                <div class="profile-userbuttons d-flex justify-content-center">
                  <button class="btn btn-primary mb-3 mt-3">Read More</button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card border-apply ms-4 mt-4">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-purple-dark bg-primary">
                <div class="user-name text-center text-light"><h4 style="padding-top: 10px;">Pooja Patel</h4></div>
                <div class="name-center text-center text-light"> <small class="mb-5">General Manager</small></div>
                <img src="assets\img\messages-1.jpg" alt=""class="rounded-circle" style="margin-left: 120px;position: relative; top: 30px;">
              </div>
              <p class="text-center mt-5">A-103, shyam gokul flats, Mahatma Road <br>Mumbai </p>
              <div class="text-center">
                <span class="phone"><i class="bi bi-telephone-fill"><span class="ms-2">264-625-2583</span></i></span>
              </div>
              <div class="profile-userbuttons d-flex justify-content-center">
                <button class="btn btn-primary mb-3 mt-3">Read More</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-lg-4 col-sm-6">
      <div class="card border-apply ms-4 mt-4">
        <div class="m-b-20">
          <div class="contact-grid">
            <div class="profile-header bg-purple-dark bg-primary">
              <div class="user-name text-center text-light"><h4 style="padding-top: 10px;">Pooja Patel</h4></div>
              <div class="name-center text-center text-light"> <small class="mb-5">General Manager</small></div>
              <img src="assets\img\messages-1.jpg" alt=""class="rounded-circle" style="margin-left: 120px;position: relative; top: 30px;">
            </div>
            <p class="text-center mt-5">A-103, shyam gokul flats, Mahatma Road <br>Mumbai </p>
            <div class="text-center">
              <span class="phone"><i class="bi bi-telephone-fill"><span class="ms-2">264-625-2583</span></i></span>
            </div>
            <div class="profile-userbuttons d-flex justify-content-center">
              <button class="btn btn-primary mb-3 mt-3">Read More</button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="col-lg-4 col-sm-6">
    <div class="card border-apply ms-4 mt-4">
      <div class="m-b-20">
        <div class="contact-grid">
          <div class="profile-header bg-purple-dark bg-primary">
            <div class="user-name text-center text-light"><h4 style="padding-top: 10px;">Pooja Patel</h4></div>
            <div class="name-center text-center text-light"> <small class="mb-5">General Manager</small></div>
            <img src="assets\img\messages-1.jpg" alt=""class="rounded-circle" style="margin-left: 120px;position: relative; top: 30px;">
          </div>
          <p class="text-center mt-5">A-103, shyam gokul flats, Mahatma Road <br>Mumbai </p>
          <div class="text-center">
            <span class="phone"><i class="bi bi-telephone-fill"><span class="ms-2">264-625-2583</span></i></span>
          </div>
          <div class="profile-userbuttons d-flex justify-content-center">
            <button class="btn btn-primary mb-3 mt-3">Read More</button>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6">
  <div class="card border-apply ms-4 mt-4">
    <div class="m-b-20">
      <div class="contact-grid">
        <div class="profile-header bg-purple-dark bg-primary">
          <div class="user-name text-center text-light"><h4 style="padding-top: 10px;">Pooja Patel</h4></div>
          <div class="name-center text-center text-light"> <small class="mb-5">General Manager</small></div>
          <img src="assets\img\messages-1.jpg" alt=""class="rounded-circle" style="margin-left: 120px;position: relative; top: 30px;">
        </div>
        <p class="text-center mt-5">A-103, shyam gokul flats, Mahatma Road <br>Mumbai </p>
        <div class="text-center">
          <span class="phone"><i class="bi bi-telephone-fill"><span class="ms-2">264-625-2583</span></i></span>
        </div>
        <div class="profile-userbuttons d-flex justify-content-center">
          <button class="btn btn-primary mb-3 mt-3">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-sm-6">
  <div class="card border-apply ms-4 mt-4">
    <div class="m-b-20">
      <div class="contact-grid">
        <div class="profile-header bg-purple-dark bg-primary">
          <div class="user-name text-center text-light"><h4 style="padding-top: 10px;">Pooja Patel</h4></div>
          <div class="name-center text-center text-light"> <small class="mb-5">General Manager</small></div>
          <img src="assets\img\messages-1.jpg" alt=""class="rounded-circle" style="margin-left: 120px;position: relative; top: 30px;">
        </div>
        <p class="text-center mt-5">A-103, shyam gokul flats, Mahatma Road <br>Mumbai </p>
        <div class="text-center">
          <span class="phone"><i class="bi bi-telephone-fill"><span class="ms-2">264-625-2583</span></i></span>
        </div>
        <div class="profile-userbuttons d-flex justify-content-center">
          <button class="btn btn-primary mb-3 mt-3">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-sm-6">
  <div class="card border-apply ms-4 mt-4">
    <div class="m-b-20">
      <div class="contact-grid">
        <div class="profile-header bg-purple-dark bg-primary">
          <div class="user-name text-center text-light"><h4 style="padding-top: 10px;">Pooja Patel</h4></div>
          <div class="name-center text-center text-light"> <small class="mb-5">General Manager</small></div>
          <img src="assets\img\messages-1.jpg" alt=""class="rounded-circle" style="margin-left: 120px;position: relative; top: 30px;">
        </div>
        <p class="text-center mt-5">A-103, shyam gokul flats, Mahatma Road <br>Mumbai </p>
        <div class="text-center">
          <span class="phone"><i class="bi bi-telephone-fill"><span class="ms-2">264-625-2583</span></i></span>
        </div>
        <div class="profile-userbuttons d-flex justify-content-center">
          <button class="btn btn-primary mb-3 mt-3">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
        </div>
          
        </div>
      </div>

    </div>
</div>
</section>
</main>