<main id="main" class="main">
    <section class="section">
      <div class="row">
        <div class="pagetitle">
          <h1 class="float-start">Add Project</h1>
          <nav class="float-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Tables</li>
              <li class="breadcrumb-item active">Data</li>
            </ol>
          </nav>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Project</h5>
              
              <form class="row g-4">
                <div class="col-md-6">
                <label for="FirstName">Project Id<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="FirstName" id="FirstName">
                </div>
                <div class="col-md-6">
                  <label for="LastName">Project Title<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="LastName" id="LastName">
                </div>
                <div class="col-md-6">
                <label for="Gender">Priority<span class="required">*</span></label>
                <select class="form-select form-control" id="exampleFormControlSelect1">
                    <option selected>Project Priority</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                  </select>
                  </div>
                  <div class="col-md-6">
                  <label for="Mobile">Client<span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="Mobile" id="Mobile">
                  </div>
                  <div class="col-md-6">
                    <label for="Password">Project Start Date<span class="required">*</span></label>
                    <input type="date" class="form-control" placeholder="Password" id="Password">
                  </div>
                  <div class="col-md-6">
                  <label for="Confirm Password">Project End Date<span class="required">*</span></label>
                    <input type="date" class="form-control" placeholder="Confirm Password">
                  </div>
                  <div class="col-md-6">
                  <label for="Designation">Price<span class="required">*</span></label>
                    <input type="number" class="form-control" placeholder="Price" id="Designation">
                  </div>
                  <div class="col-md-6">
                    <label for="Gender">Department<span class="required">*</span></label>
                    <select class="form-select form-control" id="exampleFormControlSelect1">
                        <option selected>Select Department</option>
                        <option value="1">Designing</option>
                        <option value="2">Development</option>
                        <option value="3">Testing</option>
                        <option value="3">Marketing</option>
                        <option value="3">Accounts</option>
                      </select>
                      </div>
                      <div class="col-md-12">
                        <label for="Gender">Teams<span class="required">*</span></label>
                        <select class="form-select form-control" id="exampleFormControlSelect1">
                            <option selected>Select Team</option>
                            <option value="1">Designing</option>
                            <option value="2">Development</option>
                            <option value="3">Testing</option>
                            <option value="3">Marketing</option>
                            <option value="3">Accounts</option>
                          </select>
                          </div>
                <div class="col-12 d-flex gap-4">
                        <label class="form-check-label" for="exampleRadios1">
                          Work Status :
                        </label>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Default radio
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Default radio
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Default radio
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Default radio
                        </label>
                      </div>
                  </div>
                <div class="col-12 mb-5">
                  <label for="editor">Upload file<span class="required">*</span></label>
                  <div class="quill-editor-bubble form-control" id="editor"></div>
                </div>
                <div class="col-12 mt-5">
                  <label for="File">Upload file<span class="required">*</span></label>
                  <input type="file" class="form-control" placeholder="Education" id="File">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
