<main id="main" class="main">
    <section class="section">
      <div class="row">
        <div class="pagetitle">
          <h1 class="float-start">Add Project</h1>
          <nav class="float-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Tables</li>
              <li class="breadcrumb-item active">Data</li>
            </ol>
          </nav>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Project</h5>
              
              <form class="row g-4">
                <div class="col-md-6">
                <label for="FirstName">Project Id<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="FirstName" id="FirstName">
                </div>
                <!-- <div class="col-md-6">
                  <label for="LastName">Project Title<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="LastName" id="LastName">
                </div> -->

                <div class="col-md-6">
                  <label for="title">Project Title<span class="required">*</span></label>
                  <select class="form-select form-control" id="title" name="title" [(ngModel)]="project.name">
                    <option selected>Choose Project Title</option>
                    <option *ngFor="let estimate of estimates">{{estimate.projectName}}</option>
                  </select> 
                </div>

                <div class="col-md-6">
                <label for="priority">Priority<span class="required">*</span></label>
                <select class="form-select form-control" id="priority" name="priority" [(ngModel)]="project.priority">
                  <!-- <option selected>Choose Priority</option> -->
                    <option *ngFor="let pri of priority">{{pri}}</option>
                  </select>
                  </div>
                  <div class="col-md-6">
                  <label for="Client">Client<span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="Mobile" id="Client" name="Client" [(ngModel)]="project.client">
                  </div>
                  <div class="col-md-6">
                    <label for="Password">Project Start Date<span class="required">*</span></label>
                    <input type="date" class="form-control" placeholder="Password" id="Password" [(ngModel)]="project.startDate">
                  </div>
                  <div class="col-md-6">
                  <label for="Confirm Password">Project End Date<span class="required">*</span></label>
                    <input type="date" class="form-control" placeholder="Confirm Password" [(ngModel)]="project.endDate">
                  </div>
                  <div class="col-md-6">
                  <label for="Price">Price<span class="required">*</span></label>
                    <input type="number" class="form-control" placeholder="Price" id="Price" name="Price" [(ngModel)]="project.price">
                  </div>
                  <div class="col-md-6">
                    <label for="department">Department<span class="required">*</span></label>
                    <select class="form-select form-control" id="department" name="department" [(ngModel)]="project.project_Deparment">
                        <option selected value="">Select Department</option>
                        <option value="Designing">Designing</option>
                        <option value="Development">Development</option>
                        <option value="Testing">Testing</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Accounts">Accounts</option>
                      </select>
                      </div>
                      <div class="col-md-12">
                        <label for="team">Teams<span class="required">*</span></label>
                        <select class="form-select form-control" id="team" name="team" [(ngModel)]="project.teamLeader">
                            <option selected value="">Select Team</option>
                            <option *ngFor="let emp of employee" value="{{emp.name}}">{{emp.name}}</option>
                          </select>
                          </div>
                <div class="col-12 d-flex gap-4">
                        <label class="form-check-label" for="exampleRadios1">
                          Work Status :
                        </label>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Active" checked [(ngModel)]="project.status">
                        <label class="form-check-label" for="exampleRadios1">
                          Active
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Completed" checked [(ngModel)]="project.status">
                        <label class="form-check-label" for="exampleRadios1">
                          Completed
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Running" checked [(ngModel)]="project.status">
                        <label class="form-check-label" for="exampleRadios1">
                          Running
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Pending" checked [(ngModel)]="project.status">
                        <label class="form-check-label" for="exampleRadios1">
                          Pending
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Not Started" checked [(ngModel)]="project.status">
                        <label class="form-check-label" for="exampleRadios1">
                          Not Started
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Cancled" checked [(ngModel)]="project.status">
                        <label class="form-check-label" for="exampleRadios1">
                          Cancled
                        </label>
                      </div>
                  </div>
                <div class="col-12 mb-5">
                  <label for="editor">Description<span class="required">*</span></label>
                  <input type="text" class="quill-editor-bubble form-control" id="editor" name="editor" [(ngModel)]="project.projectDescription">
                </div>
                <div class="col-12 mt-5">
                  <label for="File">Upload Image<span class="required">*</span></label>
                  <input type="file" class="form-control" placeholder="Education" id="File">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary" (click)="addProject()">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
