<main id="main" class="main">
    <section class="section">
<div class="row">
<div class="pagetitle">
<h1 class="float-start">Dashboard</h1>
        <nav class="float-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
        </nav>
</div>
<div class="col-lx-12">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="card text-white" style="background-color: #800080; height: 160px;">
                  <div class="card-body">
                      <h4 class="card-title">New Tickets</h4>
                      <h2 class="card-text text-end me-2"><i class="bi bi-tag float-start"></i>
                        <span>20</span></h2>
                      <p class="card-text">18% Higher Than Last Month</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="card text-white" style="background-color: #759baa; height: 160px;">
              <div class="card-body">
                  <h4 class="card-title">Ticket Resolved</h4>
                  <h2 class="card-text text-end me-2"><i class="bi bi-check-circle-fill float-start"></i>
                    <span>13</span></h2>
                  <p class="card-text">18% Higher Than Last Month</p>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card text-white" style="background-color: #ded478; height: 160px;">
              <div class="card-body">
                  <h4 class="card-title">Project Assigned</h4>
                  <h2 class="card-text text-end me-2"><i class="bi bi-briefcase-fill float-start"></i><span>23</span></h2>
                  <p class="card-text">18% Higher Than Last Month</p>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card text-white" style="background-color: #e97a85; height: 160px;">
            <div class="card-body">
                <h4 class="card-title">Available Leaves</h4>
                <h2 class="card-text text-end me-2"><span>34</span><i class="bi bi-umbrella-fill float-start"></i></h2>
                <p class="card-text">18% Higher Than Last Month</p>
            </div>
        </div>
    </div>
          </div>

          <div class="row d-flex">
          <div class="col-xl-7">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Column Chart</h5>
  
                <!-- Line Chart -->
                
                <div id="ColumnChart" ></div>
                <!-- End Line CHart -->
  
              </div>
            </div>
          </div>

          <div class="col-xl-5">
            <div class="card" style="height: 462px;">
              <div class="card-body">
                <h5 class="card-title">Redar Chart</h5>
  
                <!-- Line Chart -->
                
                <div id="redarchart"></div>
                <!-- End Line CHart -->
  
              </div>
            </div>
          </div>

        </div>

        <div class="row d-flex">
            <div class="col-xl-4">
              <div class="card">
                <div class="header">
                  <h5 class="mt-3">My Team</h5>
              </div>
                <div class="tableBody ms-2 me-2">
                    <div class="responsive_table">
                        <table class="table table-hover dashboard-task-infos text-center">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Employee</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-img"><img src="assets/images/user/user1.jpg" alt=""></td>
                                    <td>Task A</td>
                                    <td><span class="badge bg-success">Working</span></td>
                                </tr>
                                <!-- Additional table rows -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
  
            <div class="col-xl-8">
              <div class="card">
                <div class="header">
                    <h5 class="mt-3">My Task</h5>
                </div>
                <div class="tableBody ms-2 me-2">
                    <div class="responsive_table">
                        <table class="table table-hover dashboard-task-infos text-center">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Task</th>
                                    <th>Status</th>
                                    <th>Manager</th>
                                    <th>Progress</th>
                                    <th>Documents</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="table-img"><img src="assets/images/user/user1.jpg" alt=""></td>
                                    <td>Task A</td>
                                    <td><span class="badge bg-success">Working</span></td>
                                    <td>Jay Soni</td>
                                    <td>
                                      <div class="progress shadow-style ms-5 mt-2" style="height: 15px; width: 80px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width:40%;"></div>
                                    </div>
                                    </td>
                                    <td><i class="bi bi-file-earmark-pdf-fill" style="font-size: 20px;"></i></td>
                                    <td>
                                        <button class="btn btn-outline-primary" style="height: auto;">
                                          Details
                                        </button>
                                    </td>
                                </tr>
                                <!-- Additional table rows -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
  
          </div>
          <div class="row d-flex">
            <div class="col-xl-4">
              <div class="card">
                <div class="header">
                  <h5 class="mt-3">My Task</h5>
              </div>
                <div class="row align-items-center mt-2">
                  <div class="col-auto">
                      <span class="drag-handle ms-2">
                        <i class="bi bi-dropbox"></i>
                      </span>
                  </div>
                  <div class="col">
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="checkbox1">
                          <label class="form-check-label" for="checkbox1">
                              Check client report
                          </label>
                      </div>
                  </div>
                  <div class="col">
                    <i class="bi bi-arrow-up"></i> High
                  </div>
              </div>
              </div>
            </div>
  
            <div class="col-xl-4">
              <div class="card" style="height: 400px;">
                <div class="card-body">
                  <h5 class="card-title">Line Chart</h5>
    
                  <!-- Line Chart -->
                  
                  <div id="redarschart"></div>
                  <!-- End Line CHart -->
    
                </div>
              </div>
            </div>
  
            <div class="col-xl-4">
              <div class="card" style="height: 400px;">
                <div class="card-body">
                  <h5 class="card-title">Ticket Resolved</h5>

                  <!-- Line Chart -->
                  
                  <div id="barchart"></div>
                  <!-- End Line CHart -->
    
                </div>
              </div>
            </div>

          </div>

            <!-- Table with stripped rows -->
            <!-- End Table with stripped rows -->

      </div>
</div>
</section>
</main>