<main id="main" class="main">

    <!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="pagetitle">
          <h1 class="float-start">Add Holiday</h1>
                  <nav class="float-end">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item">Tables</li>
                      <li class="breadcrumb-item active">Data</li>
                    </ol>
                  </nav>
        </div>
        <div class="col-md-12">
          <div class="card">
            <h5 class="card-title mt-0 ms-3">New Holiday</h5>
            <div class="card-body">
              <form class="row g-5 ms-3">
                <div class="col-md-12">
                <label for="FirstName">Holiday No<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="holiday" id="FirstName">
                </div>
                <div class="col-md-12">
                  <label for="LastName">Holiday Name<span class="required">*</span></label>
                  <input type="text" class="form-control" placeholder="holiday name" id="LastName">
                </div>
                <div class="col-md-12">
                <label for="Gender">Holiday Date<span class="required">*</span></label>
                    <input type="date" class="form-control" placeholder="holiday date" id="Gender">
                  </div>
                  <div class="col-md-12">
                  <label for="Mobile">Location<span class="required">*</span></label>
                    <input type="number" class="form-control" placeholder="holiday location" id="Mobile">
                  </div>
                  <div class="col-md-12">
                    <label for="Password">Shift<span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="holiday shift" id="Password">
                  </div>
                  <div class="col-md-12">
                  <label for="Confirm Password">Details<span class="required">*</span></label>
                    <input type="text" class="form-control" placeholder="holiday details">
                  </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
